


body{
  background-color: rgb(22, 23, 23);
  font-family: Rockwell;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 30px 154px;
  text-decoration: none;
  font-size: 17px;
  
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #0985be;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
.intro, .outro{
  display: flex;
  justify-content: center;
}

.menuBox{
  display: flex;
  justify-content: center;
}
#boxes{
  display: flex;
  justify-content: center;
  height: 120px;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2%;
  background-color:  rgb(22, 23, 23);
  font-size: 50px;
  border: 5px solid  #0985be;

  line-height: 120px;
}

#boxes :hover{
  background-color: #0985be;
}

a.homeMenu {
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  text-decoration: none;

  color: white;
  
}
.bb1,.bb2,.bb3,.bb4,#btn{/*weights for barbell elements*/
  height: 100px;
  margin-top: 2%;
  background-color:  rgb(22, 23, 23);
  font-size: 50px;
  border: 5px solid  #0985be;
  margin-right: 5%;
  width: 10%;
  color: white;
}

form{
  display: flex;
  justify-content: center;
  border: 5px;
  border-style: solid;
  margin-top: 1%;
  padding: 3%;
  width: 100%;
  background-color: #333;
  color: white;
}
#ff,#tf,#tff,#te,#fi,#tp{
  height: 90px;
  margin-top: 2%;
  background-color:  rgb(22, 23, 23);
  font-size: 50px;
  border: 5px solid  #0985be;
  margin-right: 5%;
  width: 15%;
  color: white;
}
label{
  font-size: 20px;
}
.barbellWeight{
  width: 94%;

}
input[type=text]
{
  width: 200px;
}
.formBox{
  text-align: center;
  
}
/* Style inputs */
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  border: 5px solid  #0985be;
}

/* Style the submit button */
input[type=submit] {
  width: 100%;
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border: 5px solid  #0985be;
}

.res{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;

}
.formBox1 a
{
  
  font-size: 40px;
  text-decoration: none;
  color: white;
}
